.jg {
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
}

.it {
    background-color: rgb(64, 112, 142);
    border: 1px solid black;
    border-radius: 60px;
}

.car {
    display: flex;
    justify-content: center;
}

.car1 {
    height: 250px;
}
.Per{
  font-family: Arial, Helvetica, sans-serif;  
}